/* CSS Document */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;1,300&family=Noto+Sans+TC:wght@300&display=swap');

$color-main:#FAF9E7;
$color-second:#255578;
$color-red:#FF3633;
$color-white:#FFFFFF;
$color-dark-gray:#2E2E2B;
$color-dark:#000000;

$font-Noto:'Noto Sans TC', sans-serif;
$font-Cormorant:'Cormorant', serif;


body {
    margin:0;
    padding:0;
    font-family: $font-Noto;
}
*, *:before, *:after {
    position:relative;
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    box-sizing:border-box;
    transition:0.2s linear;
}
img {
    width:100%;
    height:100%;
    border-radius:4px;
    transition:0.2s linear;
}


/* scrollbar hidden */
html {
    overflow:-moz-hidden-unscrollable;
    height:100%;
}
body::-webkit-scrollbar {
    display:none;
}
body {
    -ms-overflow-style:none;
    height:100%;
    width:100vw;
    overflow:auto;
}

/*aside */
.aside {
    position: fixed;
    top: 0;
    right: -480px;
    display: block;
    background-color: #{$color-dark-gray}#{CC};
    width: 60vw;
    max-width: 480px;
    height: 100vh;
    mix-blend-mode: hard-light;
    backdrop-filter: blur(8px);
    transition: 0.6s ease-in;
    z-index: 120;
    &:after {
        position: absolute;
        top: 60px;
        right: 24px;
        content: 'MENU';
        display: block;
        padding: 20px 0;
        font-size: 40px;
        color: #{$color-main}#{AA};
        font-family: $font-Cormorant; 
        letter-spacing: 0.1em;
        writing-mode: vertical-lr;
    }
}

.nav-menu {
    display:block;
    width: 100%;
    height: 100%;
    padding: 60px 20px;
    ul {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 32px;
        counter-reset: num;
    }
    li {
        display: block;
        width: 8.5em;
        margin: 12px 0 12px 240px;
        font-size: 1em;
        .suffix {
            margin: 0 0 0 0.4em;
            font-size: 0.75em;
        }
    }
    .link-btn {
        display: inline-block;
        margin: 0 0 0 0.625em;
        padding: 8px;
        color: #{$color-main}#{AA};
        font-family: $font-Cormorant;
        letter-spacing: 0.05em;
        &:hover, &.active {
            color: $color-main;
            text-decoration: none;
            &:after {
                transform: scaleX(1) skewX(-6deg);
                transform-origin: bottom left;
                transition: transform-origin 0s linear, transform 0.3s linear;
            }
        }
        &:before {
            position: absolute;
            top: 8px;
            left: -24px;
            display: inline;
            counter-increment: num;
            content: '0' counter(num);
            font-size: 0.75em;
        }
        &:after {
            position: absolute;
            right: 0;
            left: -36px;
            bottom: 0;
            content: '';
            display: block;
            background-color: $color-main;
            width: calc(100% + 36px);
            height: 100%;
            mix-blend-mode: exclusion;
            /* border-radius: 4px; */
            transform: scale(0) skewX(-6deg);
            transform-origin: bottom right;
            transition: transform-origin 0s linear, transform 0.3s linear;
        }
    }
}

/* nav chack */
#nav_chk {
    position: absolute;
    display: none;
    visibility: hidden;
    z-index: -1000;
    &:checked ~ {
        .menu-burger {
            top: 24px;
            mix-blend-mode: color-dodge;
            transform: unset;
            .line {
                opacity: 0;
                transition: 0.2s linear 0.2s;
            }
            &:before, &:after {
                top:50%;
                transition:top 0.2s linear, transform 0.2s linear 0.2s;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform:rotate(-45deg);
            }
        }
        .aside {
            right: 0;
            transition: 0.5s ease-out;
            .nav-menu {
                li {
                    margin:12px 0;
                    @for $i from 1 through 5 {
                        &:nth-of-type(#{$i}) {
                            transition:0.3s ease ($i/10)+s;
                        }
                     }
                }
            }
        }
        .black-screen {
            min-height: 100vh;
            opacity: 1;
            transition: 0.3s linear, min-height 0s linear;
        }
        #main {
            filter: blur(4px);
            overflow: hidden;
            transition: padding0.4s linear, background-color 1s linear;
        }
    }
    

}

.menu-burger {
    position: fixed;
    top: 24px;
    right: 32px;
    width: 36px;
    height: 25px;
    mix-blend-mode: difference;
    cursor: pointer;
    transition: 0.6s ease-out;
    z-index: 200;
    .line, &:before, &:after {
        position: absolute;
        content: '';
        display: block;
        background-color: $color-main;
        width: 100%;
        height: 1px;
        transition: 0.4s linear, opacity 0.2s linear, top 0.2s linear 0.2s, transform 0.2s linear;
    }
    .line {
        top: 50%;
    }
    &:before {
        top:0%; 
    }
    &:after {
        top: 100%;
    }
}

.black-screen {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background-color: #{$color-main}#{33};
    width: 100vw;
    min-height: 0;
    opacity: 0;
    z-index: 20;
    transition: 0.2s linear, min-height 0s linear 0.3s;
}

/* marin */
#main {
    position: relative;
    display: inline-block;
    background-color: $color-main;
    width: 100vw;
    min-height: 100vh;
    scroll-behavior: smooth;
    transition: padding 0.4s linear, background-color 1s linear;
}

/* banner */
.banner {
    width: 100%;
    height: 250vh;
    margin-bottom: 60vh;
    opacity: 0;
    .img-cont {
        position: fixed;
        top: 0;
        left: 0;
        background-color: $color-dark-gray;
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        transform: scale(1);
        overflow: hidden;
        .img {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            background-position: center;
            background-size: cover;
            width: 100vw;
            height: 100vh;
            opacity: 0;
            transform: translate(-50%, -50%) scale(1.1);
            animation: slide 32s infinite;
            @for $i from 2 through 4 {
                &:nth-of-type(#{$i}) {
                   animation-delay: ($i - 1)*8+s;
                }
             }
        }
    }
    .scroll {
        position: fixed;
        left: 50%;
        bottom: -40px;
        text-align: center;
        mix-blend-mode: exclusion;
        transform: translateX(-50%);
        transition: 0.6s ease-in;
        z-index: 50;
        &:before {
            content:'SCROLL';
            display: block;
            color: $color-main;
            font-size: 12px;
            letter-spacing: 0.2em;
            text-shadow: 0 0 8px $color-dark-gray;
        }
        &:after {
            left: 50%;
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            border: solid $color-main;
            border-width: 0 2px 2px 0;
            border-radius: 1px;
            transform: translateX(-50%) rotate(45deg);
            animation: roll 2s ease-out infinite;
        }
        &.white {
            mix-blend-mode: unset;
            &:before {
                color: $color-white;
                text-shadow: 0 0 4px #{$color-dark}#{66};
            }
            &:after {
                border-color: $color-white;
                filter: drop-shadow(0 0 4px #{$color-dark}#{66});
            }
        }
    }
    .intro-word {
        position: fixed;
        top: 50%;
        left: 50%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        color: $color-dark-gray;
        transform: translate(-50%, -50%);
        .logo {
            margin: 0 0 20px;
            font-size: 60px;
            letter-spacing: 0.5em;
        }
        .p {
            font-size: 18px;
            letter-spacing: 0.2em;
        }
        &.white {
            .logo, p {
                color: $color-white;
                text-shadow: 0 0 4px #{$color-dark}#{66};
            }
        }
    }
    &.active {
        opacity: 1;
        .scroll { 
            bottom:40px;
        }
        .intro-word {
            .logo, p {
                letter-spacing: 0em;
            }
        }
    }
}

@keyframes slide {
    16% { opacity: 1; }
    24% { opacity: 1; }
    32% { opacity: 0; }
    48% { transform: translate(-50%, -50%) scale(1); }
}

@keyframes roll {
    0% { top:4px; }
    40% { top:12px; }
    90% { top:4px; }
    100% { top:4px; }
}

/* logo */
.logo {
    display: inline-block;
    color: $color-dark-gray;
    font-family: $font-Cormorant;
    font-size: 40px;
    span {
        margin: 0 8px;
        color: $color-red;
        font-family: $font-Cormorant;
    }
}

.above {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $color-main;
    width: 100%;
    padding: 12px;
    text-align: center;
    backdrop-filter: blur(4px);
    transform: translateY(-100%);
    transition: 0.2s ease-out;
    z-index: 100;
    .logo {
        font-size: 32px;
    }
    &.show {
        transform: translateY(0);
    }
}

/* rate */
.rate {
    position: fixed;
    right: -4vw;
    bottom: 40px;
    display: block;
    background-color: #{$color-main}#{33};
    width: 1px;
    height: 20vh;
    mix-blend-mode: exclusion;
    transition: 0.6s ease-in 0.4s;
    z-index: 100;
    span {
        position: absolute;
        top: -1px;
        display: block;
        background-color: $color-main;
        width: 2px;
        height: 0;
        transform: skewY(-60deg);
    }
    &.active {
        right: 20px;
        transition: 0.6s ease-in;
    }
}

.rate-prev, .rate-next {
    position: absolute;
    left: -9px;
    display: block;
    width: 20px;
    height: 20px;
    padding: 6px;
    &:before {
        position: absolute;
        left: 50%;
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border: solid $color-main;
        border-radius: 1px;
        transform: translateX(-50%) rotate(45deg);
    }
}
.rate-prev {
    top: -16px;
    &:hover {
        top: -20px;
    }
    &:before {
        border-width: 2px 0 0 2px;
    }
}
.rate-next {
    bottom: -16px;
    &:hover {
        bottom: -20px;
    }
    &:before {
        border-width: 0 2px 2px 0;
    }
}

/* content */
.content {
    width: 100%;
    .part {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 60vh;
        padding: 100px 0;
        opacity: 0;
        transition: 0.4s ease-out;
    }
    &.active .part {
        opacity: 1;
        z-index: 50;
    }
}

%skewY-block {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    transform: skewY(-6deg);
}

/* about */
.about {
    &:before {
        @extend %skewY-block;
        background-color: $color-dark-gray;
        /* outline: 8px solid $color-red; */
    }
    .current-title {
        top: 24%;
        color: $color-main;
        .text {
            .num {
                border-color: $color-main;
            }
            .title {
                margin: 40px auto;
                writing-mode: vertical-lr;
                text-orientation: mixed;
            }
        }
    }
    .item-cont {
        flex-direction: column;
        align-items: start;
        padding: 4vw;
        color: $color-main;
    }
    &.active {
        .skill-li {
            @for $i from 1 through 10 {
               span[data-percent="#{$i * 10}"] {
                    &:before {
                        width: $i*10%;
                    }   
                }
             }
        }
    }
}

/* web */
.web {
    .part {
        align-items: flex-start;
    }
    .current-title {
        top: 24%;
        width: 32vw;
    }
    .item {
        .item-img {
            margin: 24px;
        }
        .item-info {
            margin: -68px 0 0 0;
        }
    }
}

/* graphic */
.graphic {
    &:before {
        @extend %skewY-block;
        background-color: $color-white;
        /* outline: 8px solid $color-second; */
    }
    .part {
        flex-direction: row-reverse;
        min-height: unset;
    }
    .current-title {
        top: 24%;
        width: 32vw;
    }
    .item-cont {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 4px;
        grid-auto-flow: row dense;
        width: 68vw;
        margin: 0 auto 0 0;
        .item {
            width: 100%;
            margin: 0;
            border: 1px solid transparent;
            &:before {
                position: absolute;
                content: '';
                display: block;
                background-color: #{$color-dark}#{66};
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 50;
            }
            &:after {
                position: absolute;
                top: 50%;
                left: 50%;
                content: '';
                display: block;
                background-color: $color-white;
                background-image: url(../images/icon_view_16.png);
                background-size: cover;
                width: 16px;
                height: 16px;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                box-shadow: 0 0 0 12px $color-white;
                opacity: 0;
                transform: scale(0);
                z-index: 50;
            }
            &:hover {
                &:before, &:after {
                    opacity: 1;
                    transform: scale(1);
                    transition: 0.2s ease-in;
                }
            }
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}

/* codepen-io */
.codepen-io {
    .part {
        align-items: flex-start;
    }
    .current-title {
        top: 24%;
        width: 32vw;
    }
}

/* module */
    /* current-title */
    .current-title {
        position: sticky;
        top: 0;
        height: 100%;
        padding: 4vw;
        color: $color-dark-gray;
        white-space: nowrap;
        transform: translateY(-80px);
        transition: 0.4s ease-out;
        .text {
            display: block;
            font-family: $font-Cormorant;
            font-size: 48px;
            .num {
                display: inline-block;
                padding: 4px;
                font-size: 1em;
                border-bottom: 1px solid $color-red;
            }
            .title {
                display: block;
                font-size: 1em;
                &.suffix {
                    font-size: 0.6em;
                }
            }
            .explain {
                font-size: 0.4em;
            }
        }
    }
    .active .current-title {
        transform: translateY(0);
    }

    /* item-cont */
    .item-cont {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: 0 auto;
        counter-reset: num;
        transform: translateY(80px);
        transition: 0.4s ease-out;
        .item {
            display: block;
            overflow: hidden;
            .item-img {
                overflow: hidden;
                transition: 0.2s ease-out;
            }
            .item-info {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                font-size: 15px;
                p {
                    display: inline-block;
                    margin: 4px 0;
                    &.date {
                        background-color: $color-second;
                        padding: 4px 8px;
                        color: $color-main;
                        font-size: 1em;
                        border-radius: 4px;
                    }
                    &.title {
                        padding: 4px;
                        color: $color-dark-gray;
                        font-size: 1.6em;
                        &:before {
                            position: absolute;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            content: '';
                            display: block;
                            background-color: $color-second;
                            width: 100%;
                            height: 1px;
                            transform: scaleX(0);
                            transform-origin: bottom right;
                            transition: transform-origin 0s linear, transform 0.3s linear;
                        }
                    }
                    &.caption {
                        color: $color-dark-gray;
                        font-size: 1em;
                    }
                }
            }
            &:hover {
                .item-img {
                    transform: scale(1.05);
                }
                .item-info {
                    p {
                        &.title {
                            &:before {
                                transform: scaleX(1);
                                transform-origin: bottom left;
                                transition: transform-origin 0s linear, transform 0.3s linear;
                            }
                        }
                    }
                }
            }
        }
    }
    .active .item-cont {
        transform: translateY(0);
    }

    /* intro */
    .intro {
        padding: 0 0 80px;
        .self {
            font-size: 48px;
            .name {
                margin: 0 0 40px;
                .en {
                    font-size: 0.75em;
                }
            }
            .profession {
                font-size: 0.5em;
            }
        }
        .tag {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 4px;
            margin: 20px;
        }
    }

    /* expertise */
    .expertise {
        width: 100%;
        .skill-ul {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
            max-width: 800px;
            margin: 20px auto;
        }
        .skill-li {
            display: inline-block;
            width: calc(50% - 8px);
            margin: 8px 4px;
            font-family: $font-Noto;
            font-size: 15px;
            p {
                display: inline-block;
                width: 6em;
                font-size: 15px;
                margin: 0;
            }
            span {
                display: inline-block;
                background-color: #{$color-main}#{66};
                width: calc(100% - 8em);
                height: 2px;
                transform: skewX(-45deg);
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '';
                    display: block;
                    background-color: $color-main;
                    width: 0;
                    height: 100%;
                    /* border-radius: 0.2em; */
                    box-shadow: 0 0 0 1px $color-main;
                    
                    transition: 2.4s ease;
                }
            }
        }
    }

/* footer */
.footer {
    background-color: $color-dark-gray;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    div {
        display: inline-block;
        color: $color-white;
        &.copyright {
            margin: 0 8px 0 0;
        }
        &.logo {
            font-size: 1.4em;
            span {
                color: $color-white;
            }
        }
    }
}

/* overwrite */
    /* LightGallery */
    .lg-toolbar, .lg-sub-html {
        background-color: $color-dark-gray;
        color: $color-main;
    }
    #lg-counter, .lg-toolbar .lg-icon {
        color: $color-main;
    }
    .lg-backdrop {
        background-color: #{$color-dark}#{66};
        backdrop-filter: blur(8px);
    }
    .lg-actions {
        top: 50%;
        transform: translateY(-50%);
        z-index: 1100;
        .lg-prev, .lg-next {
            background-color: $color-dark-gray;
            width: 36px;
            height: 36px;
            margin: 0 8px;
            border-radius: 50%;
            &:hover {
                transform: scale(1.25);
            }
            &.active {
                transform: scale(1);
            }
            &:before, &:after {
                position: absolute;
                top: 50%;
                content: '';
                display: block;
                background-color: $color-main;
                width: 12px;
                height: 2px;
                border-radius: 1px;
                transform-origin: top;
            }
        }
        .lg-prev {
            left: 4px;
            &:before {
                right: 50%;
                transform: rotate(-45deg) translate(50%, -50%);
            }
            &:after {
                right: 50%;
                transform: rotate(45deg) translate(50%, -50%);
            }
        }
        .lg-next {
            right: 4px;
            &:before {
                left: 50%;
                transform: rotate(45deg) translate(-50%, -50%);
            }
            &:after {
                left: 50%;
                transform: rotate(-45deg) translate(-50%, -50%);
            }
        }
    }
    .lg-outer {
        .lg-img-wrap {
            top: 50%;
            height: calc(100% -100px);
            transform: translateY(-50%);
        }
    }

    /* swiper */
    .swiper-container {
        margin: auto;
        padding: 20px 0 60px;
        transform: translateY(100px);
    }
    .active .swiper-container {
        transform: translateY(0);
    }
    .item-cont.swiper-wrapper {
        flex-flow: unset;
        align-items: baseline;
    }

        /* component */
        .component {
            position: absolute;
            left: 50%;
            bottom: 0;
            display: flex;
            align-items: baseline;
            transform: translateX(-50%);
            z-index: 100;
            .swiper-pagination {
                position: relative;
                margin: 0 8px;
                .swiper-pagination-bullet {
                    background-color: $color-dark-gray;
                    width: 8px;
                    height: 8px;
                    margin: 8px;
                    vertical-align: middle;
                    &:before {
                        content: '';
                        display: block;
                        width: 8px;
                        height: 8px;
                        transform: scale(2.5);
                    }
                    &:hover {
                        background-color: $color-dark-gray;
                        opacity: 1;
                        transform: scale(1.25);
                        transition: 0.2s linear;
                    }
                    &:active {
                        opacity: 1;
                        transform: scale(0.8);
                    }
                }
                .swiper-pagination-bullet-active {
                    background-color: $color-dark-gray;
                    opacity: 1;
                }
            }
            .swiper-button-prev, .swiper-button-next {
                position: relative;
                top: unset;
                left: unset;
                right: unset;
                bottom: unset;
                width: auto;
                height: auto;
                padding: 4px 8px;
                border-radius: 50%;
                &:after {
                    font-size: 12px;
                    color: $color-dark-gray;
                    font-weight: bold;
                    text-shadow: 0 0 1px $color-dark-gray;
                }
                &:hover {
                    transform: scale(1.2);
                }
                &:active {
                    transform: scale(1);
                }
            }
        }

/* rwd */
@media screen and (max-width:800px) {
    /* main */
    .banner {
        .logo {
            font-size: 36px;
        }
        &.active .scroll {
            right: 16px;
        }
    }
    .logo {
        font-size: 28px;
    }
    .above {
        padding:12px;
        .logo {
            font-size: 24px;
        }
    }
    .rate {
        display:none;
    }
    .menu-burger {
        top: 20px;
        right: 20px;
        width: 32px;
        height: 21px;
    }
    #nav_chk:checked ~ .menu-burger {
        transform: translateY(0);
    }
    .aside {
        width: 80vw;
        &:after {
            right: 12px;
        }
    }
    .nav-menu ul {
        font-size: 24px;
    }
    /* content */
    .content {
        .part {
            flex-direction: row;
            align-items: flex-start;
            .item-cont {
                width: auto;
                margin: 0 4vw 0 0;
            }
        }
        .current-title {
            top: 52px;
            left: unset;
            right: unset;
            bottom: unset;
            width: auto;
            padding: 8px;
            transition: 0.6s esae-out;
            .text {
                font-size: 48px;
                .title {
                    writing-mode: vertical-lr;
                    margin: 12px auto;
                }
                .explain {
                    font-size: 0.6em;
                    writing-mode: vertical-lr;
                }
            }
        }
        .swiper-container {
            width: 100%;
            padding: 0;
        }
    }
    
    /* web */
    .web {
        .item-cont {
            &.swiper-wrapper{
                .item {
                    margin: 16px 0;
                    &:hover {
                        transform: scale(1);
                        filter: brightness(1.05);
                        box-shadow: unset;
                    }
                    .item-img {
                        margin: 0 0 0 8px;
                    }
                    .item-info {
                        margin: -16px 0 0;
                    }
                }
            }
        }
    }

    /* graphic */
    .graphic .item-cont {
        grid-template-columns: repeat(3, 1fr);
    }

    /* codepen-io */
    .codepen-io .item-cont .item {
        max-width: unset;
    }

    /* module */
    .item-cont {
        &.swiper-wrapper {
            flex-flow: column wrap;
            align-items: center;
            padding: 0;
            .item {
                margin: 12px 0;
                .item-info {
                    font-size: 12px;
                    p {
                        margin: 0 0 4px;
                    }
                }
            }
        }
    }
    .expertise .skill-li {
        width: 100%;
    }
    .component {
        display: none;
    }
}

@media screen and (max-width:640px) {
    .content {
        .current-title .text {
            font-size: 36px;
        }
    }
    .intro .tag {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:480px) {
    .banner {
        .intro-word {
            .logo {
                font-size: 36px;
            }
            p {
                font-size: 15px;
            }
        }
    }
    .aside {
        width: 100vw;
    }
    .intro {
        .self {
            font-size: 36px;
        }
    }
    .content .current-title .text {
        font-size: 24px;
        text-align: center;
    }
}